# 📂 Output files
output.md

# 🔥 Dependencies
/node_modules
/.pnp
.pnp.*
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# 📌 Local Environment Files (Allow `.env.example`)
.env*
!.env.example

# Specific environment overrides
.env.local
.env.development.local
.env.test.local
.env.production.local

# 🔬 Testing
/coverage

# 🚀 Build System Outputs
/.turbo
/.vercel
/.next/
out/
build/
dist/

# 🐞 Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 📌 TypeScript Cache
*.tsbuildinfo
next-env.d.ts

# 📂 Miscellaneous (OS & Security Files)
.DS_Store
*.pem
*.log

/generated_reports/*
!/generated_reports/.gitkeep

